/* This file defines how custom elements will look like, setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion! */

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    text-align: center;
    background-image: url(/static/assets/cookiebox.png); /* Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
    background-repeat: no-repeat;
    color: #b08271;
    font-size: 12px;
}
.site-box > a > p {
    color: var(--darkbrown);
    font-weight: bold;
}
.site-box > a > span {
    color: var(--darkbrown);
}

#root{
    --glass_grad: linear-gradient( rgba(203, 221, 255, 0.7) , rgba(255, 255, 255, 0.67));
    --shadow: rgba(30, 30, 30, 0.34);
    --bg_col: linear-gradient(rgb(117, 128, 172),rgb(255, 255, 255));
    --border: rgba(255, 255, 255, 0.41);
}

.webpage {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 200px 30px auto auto;
    box-sizing:border-box;
    grid-auto-flow:row;
    justify-content:stretch;
    align-content:flex-start;
    align-items:stretch;
    grid-template-areas:"header" "nav" "main" "footer";
    width: 1000px;
    padding: 10px
}

#glass {
    background: linear-gradient( rgba(72, 72, 72, 0.62) , rgba(0, 0, 0, 0.6));
    border-radius: 4px;
    box-shadow: 0 4px 10px var(--shadow);
    backdrop-filter: blur(5px);
    border: 2px solid var(--border);
}

#button {
    border-radius: 25%;
    border: 2px solid var(--border);
}

.main {
    border-radius: 4px;
    border: 2px solid var(--border);
    background: linear-gradient( rgba(148, 149, 151, 0.38) , rgba(255, 255, 255, 0.23));
}

body{
    width: fit-content;
    position: relative;
    margin: 0px auto 0px auto;
    background-image: var(--bg-col)
}
.nav{
    grid-area: nav;
    padding: 0px;
}

.nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.nav > ul > li{
    float: left;
}

.nav > ul > li > a{
    display: block;
    text-align: center;
    padding: 5px 10px;
    padding-top: 7px;
    min-width: 70px;
    height: 20px;
    text-decoration: none;
}
